[flake8]
max-line-length = 88
extend-ignore =
    E203
    E501
    W503
    E402
    F401
    # Docstring issues
    D200
    D400
    D101
    D105
    D107
    D202
    D205
    D401
    D403
    D821
    F841
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    .pytest_cache,
    .mypy_cache,
    htmlcov,
    .coverage
per-file-ignores =
    __init__.py:F401
    tests/*:E501
    scripts/*:D200,D400,D202,D401,F821,F841
